.select2-selection {
  border-radius: 0 !important;
  outline: none;
  height: 34px !important;
}

.select2-dropdown {
  color: #000;
}

.select2 {
  span {
    line-height: 34px;
  }
}

.sub-select {
  width: 100%;
}

.main-select {
  width: 80% !important;
}