<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Auctionilla</title>
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="/assets/js/vendor/modernizr.js"></script>
</head>

<body>
  <!--[if lt IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><img src="/assets/images/logo.png" alt="logo" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Browse objects</a></li>
            <li><a href="#about">See realized prices</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/"><i class="fa fa-user"></i> <span class="">My Pages</span></a></li>
            <li>
                <div class="search">
                  <div class="form-group ">
                    <input type="text" class="form-control" id="inputValidation" placeholder="Quick Search">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                  </div>
                </div>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
  </header>

<section class="objects-sections">
  <div class="objects-banner-search login-banner">
    <div class="big-logo">
      <img class="img-responsive" src="/assets/images/logo-big.png" alt="logo" />
    </div>
  </div>
  <div class="page-nav">
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-home"></i></a>
          </li>
          <li><a href="#">All my favorites </a>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="profile-container clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-11 profile-items">
          <!-- <div class="profile-item">
            <div class="content">
              <h4>
                Welcome!
              </h4>
              <p>
                On My pages you're able to save searches and have your stuff appraised
              </p>
            </div>
          </div> -->

          <div class="profile-item">
            <div class="content">
              <!-- <h4>
               <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-thumb-tack fa-stack-1x fa-inverse"></i>
                </span>
                Monitor auctions
             </h4>
              <p>
                Remind me when the auction is about to end
              </p> -->
              <div class="favourite-auctions">
                <h5>
                  My favorites (5)
                </h5>
                {% for item in myfavorite %}
                <div class="main-object-list" style="border:1px solid green">
                  <div class="object-item" >
                    <div class="thumb-image image">
                      <img src="{{ item.item_image }}" />
                    </div>
                    <div class="descriptions">
                      <div class="clearfix tag-timestamp">
                        <ul>
                          <li>
                            <i class="fa fa-map-marker" aria-hidden="true"></i> {{ item.location }}
                          </li>
                          <li>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            {% if item.days_remaining > 0 %}
                              {{ item.days_remaining }}d {{item.timeremaining if (item.timeremaining > 0) else '0' }}h
                            {% else %}
                              0d {{item.timeremaining if (item.timeremaining > 0) else '0' }}h
                            {% endif %}
                          </li>
                        </ul>
                      </div>
                      <div class="content">
                        <h4>
                          {{ item.item_title}} ...
                        </h4>
                        <p>
                          {{ item.item_description }}
                        </p>
                        <p class="estimate">
                          {{ item.price_status }}: {{item.price}} {{item.currency}}
                        </p>
                      </div>
                      <div class="actions text-right clearfix">
                        <ul>
                          <li>
                            <button class="btn btn"><i class="fa fa-heart-o" style="color:red"></i> <span>favorite</span></button>
                          </li>
                          <li>
                            <button class="btn red btn"><i class="visible-xs fa fa-cart-plus"></i> <span>Buy it now</span></button>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}

              </div>
              <div class="see-all">

              </div>
              <div id = "pagination">
                <ul class="pagination">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                </ul>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<footer class="clearfix">
  <div class="container">
    <div class="row">
      <div class="text-left item col-sm-3 col-md-3">
        <a href="#"><img src="/assets/images/logo.png" /></a>
      </div>
      <div class="item col-sm-6 col-md-6">
        <span>
          © Antique.com 2016  | ALL RIGHTS RESERVED
        </span>
      </div>
      <div class="item col-sm-3 col-md-3">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
</script>
<script src="/assets/js/vendor.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>
</body>

