<!DOCTYPE html>
<html>
<head>
  <title>antique site auction items</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form action="/auction/search" method="post">


<div class="input-group">

    <input type="text" id="searchItem" name="searchItem" value = "{{ search }}" required="required" class="form-control" >

    <!-- insert this line -->
    <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>

    <select id="categorires" name="category" class="form-control">
        <option value="all_category">all category</option>
        <option value="1">category 1</option>
        <option value="2">category 2</option>
        <option value="3">category 3</option>
        <option value="4">category 4</option>
    </select>
    <select id="country" name="countries" class="form-control">
        <option value=""></option>
        <option value="1">USA</option>
        <option value="2">Canada</option>
        <option value="3">payatas</option>
        <option value="4">cubao</option>
    </select>
    <select id="auction_house" name="auction_house" class="form-control">
        <option value=""></option>
        <option value="1">sothebys</option>
        <option value="2">the real real</option>
        <option value="3">old things</option>
        <option value="4">some stuff</option>
    </select>
</div>
</form>
<table border="1">
<tr>
  <th>id num</th>
  <th>item name</th>
  <th>description</th>
  <th>category</th>
</tr>
  {% for item in data %}
  <tr>
    <td>{{ item.id }}</td>
    <td>{{ item.item_title }}</td>
    <td>{{ item.item_description }}</td>
    <td>{{ item.category_name }}</td>
  </tr>
  {% endfor %}
</table>



  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% for i in range(1, total + 1)  %}
      <li class="page-item"><a class="page-link" href="/auction/page-offset/{{i}}/10/{{ search }}">{{i}}</a></li>
    {% endfor %}
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</body>
</html>
<hr>
{{ total }}
<br>
{% for i in range(1,total + 1) %}
  <span>{{i}}</span><br>
{% endfor %}
