<!DOCTYPE html>
<html>
<head>
  <title>antique site auction items</title>
  <!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script> -->
   <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
   <!-- <script type="text/javascript" src="/assets/js/main.js"></script> -->
   <!-- <link rel="stylesheet" type="text/css" href="/assets/css/main.css"> -->
   <script type="text/javascript">
     // function getCategories() {
     //        $.ajax({
     //            method: 'GET',
     //            url: '/getcategories',
     //            contentType: 'application/json',

     //        }).done(function (resp) {
     //            let data = resp.data;
     //            for (var i in resp.data) {
     //                let wine = resp.data;
     //                $('#categories').append('<option value="">wine</option>');
     //            }
     //        });
     //    }



     //    $(function() {
     //      getCategories();
     //    });

    // $(document).ready(function() {
    //   $("button").click(function(event) {
    //     var id = event.target.id;
    //   });
    // });
    function addFavorite(id) {
      var res = $("#span"+ id).html();
      alert(res);
      if (res == '') {
        data = {
          item_id: id
        }
        $.ajax({
          method: 'POST',
          url: '/addfavorite',
          contentType: 'application/json',
          dataType: 'json',
          data: JSON.stringify(data)
        }).done(function (resp) {
          let data = resp.data;
          let fav = resp.favId;
          $('#span'+id).html(data);
          $('#favId'+id).html(fav);


            // window.location.reload();
        });
      } else if (res == 'favorite') {
        data = {
          favid: $('#favId'+id).html()
        }
        $.ajax({
          method: 'POST',
          url: '/removefavorite',
          contentType: 'application/json',
          dataType: 'json',
          data: JSON.stringify(data)
        }).done(function (resp) {
          let data = resp.data;
          $('#span'+id).html(data);
        });

      }
    }


    function saveSearchAlert() {

      var data = {
        search_item: $('input#save-searchkey').val(),
        category: $('input#save-category').val(),
        auction_house: $('input#save-auctionhouse').val(),
        location: $('input#save-location').val()
      }
      alert(data);
      $.ajax({
        method: 'POST',
        url: '/create-searchalert',
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify(data)
      }).done(function (resp) {
        let data = resp.data;

      });
    }


   </script>




</head>
<body>
<form action = '/search' method="get">


<div class="input-group">

    <input type="text" id="searchItem" name="searchItem" value = "{{ search }}" class="form-control" >

    <!-- insert this line -->
    <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>

    <select id="categorires" name="category" class="form-control">
        {% if category %}
          <option>{{ category }}</option>
          <div class = "dropdown-divider"></div>
        {% endif %}
        <option value="">all category</option>
        {% for category in categories %}
          <option value="{{ category.category_name }}">{{ category.category_name }}</option>

        {% endfor %}
    </select>
    <select id="country" name="countries" class="form-control">
        <option value="">all countries</option>
        {% for i in range(0, countries.length) %}
          <option value="{{ countries[i] }}">{{countries[i]}}</option>
        {% endfor %}
    </select>
    <select id="auction-house" name="auction-house" class="form-control">
        {% if auction_house %}
          <option>{{ auction_house }}</option>
          <div class = "dropdown-divider"></div>
        {% endif %}
        <option value="">all auction houses</option>
        {% for site in sites %}
          <option value="{{ site.site_name }}">{{ site.site_name }}</option>
        {% endfor %}
    </select>
</div>
</form>
    <!-- <select id="lots" name="lots" class="form-control pull-right">
        <option><a href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction_house={{auction_house}}&offset={{i}}&page={{10}}">10</a></option>
        <option><a href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction_house={{auction_house}}&offset={{i}}&page={{20}}">20</a></option>
        <option><a href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction_house={{auction_house}}&offset={{i}}&page={{30}}">30</a></option>
        <option><a href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction_house={{auction_house}}&offset={{i}}&page={{40}}">40</a></option>
        <option><a href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction_house={{auction_house}}&offset={{i}}&page={{50}}">50</a></option>

    </select> -->
<div>
  <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Lots
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li{% if page == 10 %} class = "active" {% endif %}><a href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset={{1}}&page={{10}}&relevance={{ relevance }}">10</a></li>
    <li {% if page == 20 %} class = "active" {% endif %}><a href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset={{1}}&page={{20}}&relevance={{ relevance }}">20</a></li>
    <li{% if page == 30 %} class = "active" {% endif %}><a href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset={{1}}&page={{30}}&relevance={{ relevance }}">30</a></li>
    <li {% if page == 40 %} class = "active" {% endif %}><a href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset={{1}}&page={{40}}&relevance={{ relevance }}">40</a></li>
    <li {% if page == 50 %} class = "active" {% endif %}><a href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset={{1}}&page={{50}}&relevance={{ relevance }}">50</a></li>
  </ul>
  </div>
</div>

<div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Relevance
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <li {% if relevance == 'relevance' %} class = "active" {% endif %}><a href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset={{offset}}&page={{page}}&relevance=relevance">relevance</a></li>
      <li{% if relevance == "latest" %} class = "active" {% endif %}><a href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset={{offset}}&page={{page}}&relevance=latest">latest</a></li>
      <li {% if relevance == 'lowest-price' %} class = "active" {% endif %}><a href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset={{offset}}&page={{page}}&relevance=lowest-price">lowest price</a></li>
      <li{% if relevance == 'highest-price' %} class = "active" {% endif %}><a href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset={{offset}}&page={{page}}&relevance=highest-price">highest price</a></li>
      <li {% if relevance == 'shortest-remaining' %} class = "active" {% endif %}><a href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset={{offset}}&page={{page}}&relevance=shortest-remaining">shortest remaining</a></li>

    </ul>
  </div>
</div>
{% if search %}
<div id = "searchAlertContainer">
<input type="hidden" value="{{ search }}" id="save-searchkey" name="save-searchkey">
<input type="hidden" value = "{{ category }}" id="save-category" name="save-category">
<input type="hidden" value = "{{ auction_house }}" id="save-auctionhouse" name="save-auctionhouse">
<input type="hidden" value = "{{ country }}" id="save-location" name="save-location">
<label onclick="saveSearchAlert()" style="color:red">create search alert for '{{ search }}'</label>
</div>
{% endif %}


{% if data.length %}
<table border="1">
<tr>
  <th>id num</th>
  <th>item name</th>
  <th>description</th>
  <th>category</th>
  <th>location</th>
  <th>price</th>
  <th>site name</th>
  <th>option</th>
</tr>
  {% for item in data %}
  <tr>
    <td>{{ item.id }}</td>
    <td>{{ item.item_title }}</td>
    <td>{{ item.item_description }}</td>
    <td>{{ item.category_name }}</td>
    <td>{{ item.location }}</td>
    <td>{{ item.price }}</td>
    <td>{{ item.site_name }}</td>
    <td>{{ item.isFavorite }}</td>
    <td>
      <!-- <a href="/addfavrite/{{ item.id }}">add favorite</a> -->
      <!-- <input type="inputId{{ item.id }}" name=""> -->
      <button onclick="addFavorite({{ item.id }})">add favorite</button><span id = "span{{ item.id }}"></span><span id= "favId{{ item.id }}"></span>
    </td>
    <td>{{ item.user_id_fk }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
  <h3>'{{ search }}' is not found</h3>
{% endif %}

{% if data.length %}
  <ul class="pagination">
    <li class="page-item {{disabled if (total <= 1)}}">
      <a class="page-link" href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset={{offset - 1 if offset > 1}}&page={{page}}&relevance={{ relevance }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% if offset <= 15 %}
      {% if ( total / page ) <= 15 %}
        {% for i in range(1, (total / page) + 1)  %}
          <li class="page-item {% if offset == i %} active {% endif %} "><a class="page-link" href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset={{i}}&page={{page}}&relevance={{ relevance }}">{{i}} una</a>
          </li>
        {% endfor %}
        {% if (total % page) > page and ((total / page) > 1) %}
          <li class="page-item {% if offset == i %} active {% endif %} "><a class="page-link" href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset={{ ((total / page) + 1) | round }}&page={{page}}&relevance={{ relevance }}">{{ ((total / page) + 1) | round }}</a>
          </li>
        {% endif %}
      {% else %}
        {% for i in range(1, 16)  %}
          <li class="page-item {% if offset == i %} active {% endif %} "><a class="page-link" href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset={{i}}&page={{page}}&relevance={{ relevance }}">{{i}}</a>
          </li>
        {% endfor %}
      {% endif %}
    {% elif offset >= 15 and offset < (total / page) - 15 %}
      {% for i in range(offset - 7, offset + 7)  %}
        <li class="page-item {% if offset == i %} active {% endif %} "><a class="page-link" href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset={{i}}&page={{page}}&relevance={{ relevance }}">{{i}}</a>
        </li>
      {% endfor %}
    {% elif (offset > (total / page) - 15) and (offset <= (total / page)) %}
      {% for i in range((total / page) - 15, (total / page) + 1 )   %}
        <li class="page-item {% if offset == i %} active {% endif %} "><a class="page-link" href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset={{i}}&page={{page}}&relevance={{ relevance }}">{{i}}</a>
        </li>
      {% endfor %}
      {% if (total % page) > page and ((total / page)  > 1)  %}
        <li class="page-item {% if offset == i %} active {% endif %} "><a class="page-link" href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset={{ (total / page) | round + 1 }}&page={{page}}&relevance={{ relevance }}">{{ ((total / page) + 1) | round }}</a>
        </li>
      {% endif %}
    {% elif (offset > (total / page)) %}
      last item
    {% endif %}


    <li class="page-item {{disabled if (total <= 1)}}">
      <a class="page-link" href="/search?searchItem={{search}}&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset={{offset + 1 if (offset < total) else offset}}&page={{page}}&relevance={{ relevance }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
{% endif %}

</body>
</html>
<hr>
offset stop {{offset + 1 if offset < total else offset}}<br>
auctionhouse {{ auction_house }}<br>
page {{ page }}<br>
offset {{ offset }}<br>
total {{ total }} {{disabled if (total < 2) else r}} dis<br>
page total {{ (total / page) + 1 }} <br>
computation {{ (total / page) - 15 }}<br>
remainder {{ (total / page) < 6}} rem: {{ total % page }} from: {{total / page}} <br>
category {{ category }}<br>
search {{ search }}<br>
relevance {{relevance}}
<hr>
{{ total }}<br>
<br>

