<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Auctionilla</title>
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="/assets/js/vendor/modernizr.js"></script>
</head>

<body>
  <!--[if lt IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/assets/images/logo.png" alt="logo" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/search?searchItem={{search}}&browsing-auction=auction&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset=&page=&radiobuttonsearch=objects&relevance={{relevance}}">Browse objects</a></li>
            <li><a href="/search?searchItem={{search}}&browsing-auction=realized&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset=&page=&radiobuttonsearch=realized&relevance={{relevance}}">See realized prices</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="../navbar/"><i class="fa fa-user"></i> <span class="">My Pages</span></a></li> -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i style="color:{{ 'red' if user else 'white' }}" class="fa fa-user"></i> <span class="">My Pages</span> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if user %}
                <li><a href="/viewprofile">My Profile </a></li>
                <li><a href="/logout">Log Out</a></li>
                {% else %}
                <li><a href="/registration">Register</a></li>
                <li><a href="/login">Login</a></li>
                {% endif %}
              </ul>
            </li>
            <li>
              <div class="search">
                <form method="get" action="/search">
                  <div class="form-group ">
                    <input type="text" class="form-control" id="inputValidation" name="searchItem" placeholder="Quick Search">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
  </header>
  <section class="home">
    <div class="home-banner-search">
      <div class="clearfix col-md-6 col-xs-11 search-bar">
        <div class="text-center">
          <h2>
            All auctions in one place
          </h2>
        </div>
        <form class="navbar-form" role="search" method="get" action="/search">
          <div class="radio">
            <input checked type="radio" value="auction" name="browsing-auction">
            <label for="radio1">
              Objects
            </label>
          </div>
          <div class="radio">
            <input type="radio" value="realized" name="browsing-auction">
            <label for="radio2">
              Realize Prices
            </label>
          </div>
          <div class="input-group main-search">
            <input type="text" class="form-control" placeholder="Search" name="searchItem" id="srch-term">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
          <p>
            Search and find everything in auctions, antiques and collectibles from all over the world.
          </p>
        </form>
      </div>
    </div>
    <div class="object-list">
      <div class="container">
        <div class="section-title">
          <h2>POPULAR RIGHT NOW</h2>
        </div>
        <div class="objects">
          <div class="object-header">
            <h3>Objects</h3>
          </div>
          <div class="object-list-item clearfix">
            <div class="row">
              {% for items in popularCateg %}
              <div class="col-md-4 col-sm-6 item">
                <div class="image">
                  <img class="img-responsive" src="{{ items.mostPopularItemImage }}" alt="object item" style="background-color: #e3e3e3" />
                  <div class="image-hover">
                    <a href="/search?searchItem=&browsing-auction=auction&category={{items.categoryName}}&countries=&auction-house=&offset=&page=&radiobuttonsearch=objects&relevance=" class="btn">VIEW RESULTS</a>
                  </div>
                </div>
                <div class="details">
                  <h4 class="title">
              {{ items.categoryName }}
            </h4>
                  <br/>
                  <p>
                    {{ items.description }}
                  </p>
                  <br/>
                  <p>
                    {{ items.itemcount}} objects 0 – {{ items.mostExpensive}} {{ items.currency }}
                  </p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="objects">
          <div class="object-header">
            <h3>Realized prices</h3>
          </div>
          <div class="object-list-item clearfix">
            <div class="row">
              {% for items in popularRealized %}
              <div class="col-md-4 col-sm-6 item">
                <div class="image">
                  <img class="img-responsive" src="{{ items.mostPopularItemImage }}" alt="object item" style="background-color: #e3e3e3" />
                  <div class="image-hover">
                    <a href="/search?searchItem=&browsing-auction=realized&category={{items.categoryName}}&countries=&auction-house=&offset=&page=&radiobuttonsearch=objects&relevance=" class="btn">VIEW RESULTS</a>
                  </div>
                </div>
                <div class="details">
                  <h4 class="title">
              {{ items.categoryName }}
            </h4>
                  <br/>
                  <p>
                    {{ items.description }}
                  </p>
                  <br/>
                  <p>
                    {{ items.sold}} objects 0 – {{ items.mostExpensive}} {{ items.currency }}
                  </p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sub-disclaimer">
      <div class="container">
        <p>
          On Auctionilla.com you will find everything you’re looking for in arts, antiques and collectibles. We gather auctions and art dealers from every corner of the world and make them accessible to everyone. It’s simple and it’s free. Set up an account to save interesting searches, monitor exciting auctions and keep up to date with the fascinating world of arts and auctions through our weekly newsletter. Inspired to sell something yourself? Why not use our appraisal service or check out the price bank for all finished auctions’ hammer prices. Click around, you’ll like it!
        </p>
      </div>
    </div>
  </section>
  <footer class="clearfix">
    <div class="container">
      <div class="row">
        <div class="text-left item col-sm-3 col-md-3">
          <a href="/"><img src="/assets/images/logo.png" /></a>
        </div>
        <div class="item col-sm-6 col-md-6">
          <span>
          © Auctionilla.com 2016  | ALL RIGHTS RESERVED
        </span>
        </div>
        <div class="item col-sm-3 col-md-3">
          <a href="https://www.facebook.com/Auctionilla" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/auctionilla" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="#" target="_blank"><i class="fa fa-linkedin" ></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
  </script>
  <script src="/assets/js/vendor.js"></script>
  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/main.js"></script>
</body>
