<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Auctionilla</title>
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="/assets/js/vendor/modernizr.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript">
    function confirmation () {
      var answer = confirm("Are you sure you want to delete your account?")
      if (answer){
         window.location.href="/delete-user";
      }
      else{

      }
    }

    function gotoSite(site) {

      window.location.href = site;
    }
  </script>
</head>

<body>
  <!--[if lt IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/assets/images/logo.png" alt="logo" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/search?searchItem={{search}}&browsing-auction=auction&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset=&page=&radiobuttonsearch=objects&relevance={{relevance}}">Browse objects</a></li>
            <li><a href="/search?searchItem={{search}}&browsing-auction=realized&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset=&page=&radiobuttonsearch=realized&relevance={{relevance}}">See realized prices</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
             <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i style="color:{{ 'red' }}" class="fa fa-user"></i> <span class="">My Pages</span> <span class="caret"></span></a>
            <ul class="dropdown-menu" style="background-color: white ">
                <li><a style="color:black;" href="/viewprofile">My Profile </a></li>
                <li><a style="color:black;" href="/logout">Log Out</a></li>
            </ul>
          </li>
            <li>
                <div class="search">
                 <form method="get" action="/search">
                    <div class="form-group ">
                      <input type="text" class="form-control" id="inputValidation" name = "searchItem" placeholder="Quick Search">
                      <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                  </form>
                </div>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
  </header>

<section class="objects-sections">
  <div class="objects-banner-search login-banner">
    <div class="big-logo">
      <img class="img-responsive" src="/assets/images/logo-big.png" alt="logo" />
    </div>
  </div>
  <div class="page-nav">
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li><a href="/"><i class="fa fa-home"></i></a>
          </li>
          <li><a href="/viewprofile">My Page</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="profile-container clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-11 profile-items">
          <div class="profile-item">
            <div class="content">
              <h4>
                Welcome!
              </h4>
              <p>
                On My pages you're able to save searches and have your stuff appraised
              </p>
            </div>
          </div>
          <div class="profile-item">
            <div class="content">
              <h4>
               <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
                </span>
                Save Search
               </h4>
              <p>
                Stay updated - we'll email you when we got what you're looking for
              </p>
              <div class="search-table">
                <h5>
                 Lots matching your search alerts
               </h5>
                <div class="search-table-content">
                  <table class="table table-striped table-condensed cf">
                    <thead class="cf">

                      <tr>
                        <th>Search words</th>
                        <th>Categories</th>
                        <th>Countries</th>
                        <th>Auction houses</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for alert in searchAlert %}
                      <tr>
                        <td style="max-width:100px;overflow: hidden;"> {{'( all new items )' if alert.search_item == '' else alert.search_item }} </td>
                        <td> {{alert.category if alert.category else '( all categories )'}} </td>
                        <td> {{ alert.location if alert.location else ' all countries ' }} </td>
                        <td> {{ alert.auction_house if alert.auction_house else '( all auction house )' }} </td>
                        <td>
                          <a href="/search?searchItem={{ alert.search_item }}&browsing-auction=auction&category={{alert.category}}&countries={{alert.location}}&auction-house={{alert.auction_house}}&offset=&page=&radiobuttonsearch=&relevance=" class="btn btn-red">View</a>
                          <a href="/remove-alert/{{alert.alertId}}" class="btn-default btn"><i class="fa fa-times"></i></a>
                        </td>
                      </tr>

                    {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
              <div class="see-all">
                {% if (totalSearch > searchAlertLimit) %} <a href="/viewmysearch-alerts">See All ({{ totalSearch }})</a>
                {% else %}{% endif %}
              </div>
            </div>
          </div>
          <div class="profile-item">
            <div class="content">
              <h4>
               <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-thumb-tack fa-stack-1x fa-inverse"></i>
                </span>
                Monitor auctions
             </h4>
              <p>
                Remind me when the auction is about to end
              </p>
              <div class="favourite-auctions">
                <h5>
                  My favorites ({{ totalFav }})
                </h5>
                {% for fav in favorites %}
                <div id="main-object-list" class="main-object-list">

                  <div class="object-item">
                    <div class="thumb-image image">
                      <img src="{{fav.item_image}}" />
                    </div>
                    <div class="descriptions">
                      <div class="clearfix tag-timestamp">
                        <ul>
                          <li>
                            <i class="fa fa-map-marker" aria-hidden="true"></i> {{fav.location }}
                          </li>
                          <li>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            {% if fav.days_remaining > 0 %}
                              {{ fav.days_remaining }}d {{fav.timeremaining if (fav.timeremaining > 0) else '0' }}h
                            {% else %}
                              0d {{fav.timeremaining if (fav.timeremaining > 0) else '0' }}h
                            {% endif %}
                          </li>
                        </ul>
                      </div>
                      <div class="content">
                      <a style="text-decoration: none" target="_blank" href="{{ fav.auction_url }}">
                      <h4 title="{{ fav.item_title }}">
                        {{ fav.new_item_title }}
                      </h4>
                      </a>
                        <p title="{{fav.new_item_description}}">
                          {{ fav.new_item_description }}
                        </p>
                        <p class="estimate">
                          {{ fav.price_status }}: {{ fav.price }} {{ fav.currency }}
                        </p>
                      </div>
                      <div class="actions text-right clearfix">
                        <ul>
                          <li class="auction-emblem">
                              <a href="{{ item.site_url }}" target="_blank"><img style="height:50px;width: 150px" src="{{ fav.site_emblem }}" /></a>
                            </li>
                          <li>
                            <form action="/removefav" method="post">
                              <input type="hidden" value="{{ fav.favId }}" name="favId"/>
                              <button id="delFavBtn" type="submit" class="btn btn">
                                <i class="fa fa-heart-o"></i> <span>Remove</span>
                              </button>
                            </form>
                          </li>
                          <li>
                            <a style="text-decoration: none" target="_blank" href="{{ fav.auction_url }}">
                            <button class="btn red btn" ><i class="visible-xs fa fa-cart-plus"></i> <span>Buy it now</span></button>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                {% endfor %}
              </div>
              <div class="see-all">

              {% if (totalFav > favLimit) %}  <a href="/viewmyfavorites">See All ({{ totalFav }}) </a>
              {% else %}{% endif %}
              </div>
            </div>
          </div>
          <div class="profile-item">
            <div class="content">
              <h4>
               <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                </span>
                Monitor auctions
             </h4>
              <p>
                Change password or manage your subscriptions
              </p>
              <div class="edit-account-container clearfix">
                <h5>Your Details</h5>
                <br/>
                <div class="row">
                  <div class="col-md-6">
                  {% for info in update %}
                    <div class="form-content"">
                      {% if alertuserupdate %}
                      <div class="alert alert-warning">
                        <strong>{{ alertuserupdate }}</strong>
                      </div>
                      {% endif %}

                    <!-- {% if alertpassupdate != '' %}
                      {% if alertpassupdate == 'Password successfully updated.' %}
                        {% if alertuserupdate %}
                        <div class="alert alert-warning">
                          <strong>{{ alertuserupdate }}</strong>
                        </div>
                        {% endif %}
                      {% endif %}
                    {% endif %} -->
                      <form action="/viewprofile" method="post">
                        <div class="form-group">
                          <label>Your First Name</label>
                          <input type="text" class="form-control" placeholder="First Name" name="firstname" value="{{ info.first_name}}">
                        </div>
                        <div class="form-group">
                          <label>Your Last Name</label>
                          <input type="text" class="form-control" placeholder="Last Name" name="lastname" value="{{ info.last_name }}">
                        </div>
                        <div class="form-group">
                          <label>City</label>
                          <input type="text" class="form-control" placeholder="City" name="city" value="{{ info.city }}">
                        </div>
                        <div class="form-group">
                          <label>Country</label>
                          <input type="text" class="form-control" placeholder="Country" name="country" value="{{ info.country }}">
                        </div>
                        <div class="form-group">
                          <label>Phone</label>
                          <input type="text" class="form-control" placeholder="Phone" name="phone" value="{{ info.phone }}">
                        </div>
                        <br/>
                        <h5>
                         Change Password
                        </h5>
                        {% if alertpassupdate %}
                        <div class="alert {{'alert-danger' if alertpassupdate != 'Password successfully updated.' else 'alert-success' }}">
                          <strong> {{ alertpassupdate }} </strong>
                        </div>
                        {% endif %}
                        <div class="form-group">
                          <label id="oldPass"> Current password</label>
                          <input type="password" class="form-control" placeholder="Password" name="oldpassword" id="pass1">
                        </div>
                        <div class="form-group">
                          <label id="newPass">New password</label>
                          <input type="password" class="form-control" placeholder="New Password" name="newpassword" id="pass2">
                        </div>
                        <div class="form-group">
                          <label id="confPass">Re-type Password</label>
                          <input type="password" class="form-control" placeholder="Confirm Password" name="confirmnewpassword" id="pass3">
                        </div>
                        <div class="action-submit text-right">
                          <button type="submit" class="btn btn btn-submit btn-default">Save</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="see-all">
               <!--  <a href="/delete-account/{{ info.id }}">Delete my account</a> -->
               <button type="button" onclick="confirmation()" class="btn btn-danger">Deactivate my account</button>
                  {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- modal delete verification -->


<!-- end modal -->
<footer class="clearfix">
  <div class="container">
    <div class="row">
      <div class="text-left item col-sm-3 col-md-3">
        <a href="/"><img src="/assets/images/logo.png" /></a>
      </div>
      <div class="item col-sm-6 col-md-6">
        <span>
          © Antique.com 2016  | ALL RIGHTS RESERVED
        </span>
      </div>
      <div class="item col-sm-3 col-md-3">
        <a href="https://www.facebook.com/Auctionilla" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/auctionilla" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="#" target="_blank"><i class="fa fa-linkedin" ></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
</script>
<script src="/assets/js/vendor.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>
</body>

