<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Auctionilla</title>
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="/assets/js/vendor/modernizr.js"></script>
  <script type="text/javascript">


    function checkpassword(){
      var pass = document.getElementById('pass').value;
      var confpass = document.getElementById('pass2').value;
      if (pass == "" && confpass == "") {
        $('#pass2span').html("password empty");
        return false;
      } else {
        if (checkpasslength() == true) {
          if (pass == confpass) {
            $('#pass2span').html("password match.");
            $('#pass2span').attr('class', 'text-info');
            return true;
          } else {
            $('#pass2span').html("password not match.");

            return false;
          }
        }
      }
    }



    function checkpasslength() {
      var pass = document.getElementById('pass').value;
      if (pass.length < 7) {
        $('#pass1span').html('password too short');
        $('#pass1span').attr('class', 'text-danger italic');
        return false;
      } else {
        $('#pass1span').html('');
        // $('#pass2span').attr('class', 'text-warning');
        return true;
      }
    }



    function validate(){
      if(checkPassword() == true && checkpasslength() == true ){
        $('#registrationformcontainer').hide();
        $('#emailnotifcontainer').show();
        alert('yes')
        return true;
      } else {
        $('#registrationformcontainer').show();
        $('#emailnotifcontainer').hide();
        alert('no')
        return false;
      }
    }
  </script>


</head>

<body>
  <!--[if lt IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/assets/images/logo.png" alt="logo" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/search?searchItem={{search}}&browsing-auction=auction&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset=&page=&radiobuttonsearch={{itemFilter}}&relevance={{relevance}}">Browse objects</a></li>
            <li><a href="/search?searchItem={{search}}&browsing-auction=realized&category={{category}}&countries={{country}}&auction-house={{auction_house}}&offset=&page=&radiobuttonsearch={{itemFilter}}&relevance={{relevance}}">See realized prices</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="../navbar/"><i class="fa fa-user"></i> <span class="">My Pages</span></a></li> -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i style="color:{{ 'red' if user else 'white' }}" class="fa fa-user"></i> <span class="">My Pages</span> <span class="caret"></span></a>
            <ul class="dropdown-menu" style="background-color: gray ">
              {% if user %}
                <li><a href="/viewprofile">My Profile </a></li>
                <li><a href="/logout">Log Out</a></li>
              {% else %}
                <li><a href="/registration">Register</a></li>
                <li><a href="/login">Login</a></li>
              {% endif %}
            </ul>
          </li>
            <li>
                <div class="search">
                  <div class="form-group ">
                    <input type="text" class="form-control" id="inputValidation" placeholder="Quick Search">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                  </div>
                </div>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
  </header>

<section class="objects-sections">
  <div class="login-banner objects-banner-search">
  </div>
  <div class="page-nav">
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-home"></i></a>
          </li>
          <li><a href="/registration">Register</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="registration-content clearfix">
    <div class="container">
      <div class="col-md-10 content-items">
        <div class="col-md-6 content-item">
          <div class="content">
          {% if alert == 'email exist' %}
          <div class="alert alert-danger" id = "log-alert">
            <strong>Warning!</strong> <span id = "alertlabel"> {{ alert }} </span>
          </div>
          {% endif %}
            <h4>
              Register
            </h4>
            <div class="form-content">
              <form action="/register" method="post" onsubmit="return validate();">
              <div id = "registrationformcontainer">
                <div class="form-group">
                  <label>Your email</label>
                  <input type="email" class="form-control" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                  <label>Choose a password</label>
                  <input type="password" onblur ="checkpasslength()" name="pass" id="pass" class="form-control" placeholder="Password" required>
                  <span id= "pass1span"></span>
                </div>
                <div class="form-group">
                  <label>Re-type Password</label>
                  <input type="password" name="pass2" id="pass2" class="form-control" placeholder="Confirm Password" onblur ="checkpassword();">
                  <span class="text-danger" id="pass2span"></span>
                </div>
                <button onclick="validate()" type="submit" class="btn btn-block btn-submit btn-default">Register</button>
              </div>
              <div id = "emailnotifcontainer" >
              {% if alert == 'email sent' %}
                <h3>A message has been sent to your e-mail with instructions on how to activate your account.</h3>
              {% endif %}

              </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6 content-item">
          <div class="content">
            <h4>
                On My pages you're able to
              </h4>
            <p>
              Save your search, and we'll notify you when new lots arrive
            </p>
            <div class="login-link">
              <a href="/login">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="clearfix">
  <div class="container">
    <div class="row">
      <div class="text-left item col-sm-3 col-md-3">
        <a href="#"><img src="/assets/images/logo.png" /></a>
      </div>
      <div class="item col-sm-6 col-md-6">
        <span>
          © Antique.com 2016  | ALL RIGHTS RESERVED
        </span>
      </div>
      <div class="item col-sm-3 col-md-3">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
</script>
<script src="/assets/js/vendor.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>
</body>

