.navbar {
  background-color: $nav-bg-color;
  border: none;

  .navbar-header {
    z-index: 10;
  }

  .navbar-toggle {
    border: none;

    &:hover {
      background-color: transparent;
    }

    &:focus {
      border: none;
      background-color: transparent;
    }

    .icon-bar {
      background-color: $site-red;
      height: 3px;
    }
  }

  .dropdown-menu {
    background-color: #262626;

    li {
      a {
        color: $title-font-color;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  .nav {
    li {
      a {
        color: #fff;
        margin-left: 15px;
        margin-right: 15px;

        @media (max-width: 768px) {
          font-size: 12px;
          margin-left: 5px;
          margin-right: 5px;
          padding-left: 8px;
          padding-right: 8px;
        }

        &:hover {
          color: #fff;
          opacity: 0.5;
        }
      }

      i {
        color: $site-red;
        padding-right: 5px;
        font-size: 18px;
      }

      .search {
        position: relative;
        top: 7px;
      }
    }

    &.navbar-right {
      margin-right: 0;

      @media (max-width: 767px) {
        margin: 7.5px -10px;
      }
    }
  }
}